<nav class="navbar navbar-expand-sm navbar-dark ">
  <div class="container-fluid">
    <img src="https://img.freepik.com/premium-vector/trendy-minimalistic-food-delivery-service-online-food-order-application-banner-design-template_420121-273.jpg" alt="">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a  href="">Zomato</a>
        </li>
       
      </ul>
      <form class="d-flex" style="margin: 20px;gap: 20px;">
        <strong *ngIf="loggeduserdata &&  loggeduserdata.userName">{{loggeduserdata.userName}}</strong>
        <button class="btn btn-primary" *ngIf="loggeduserdata &&  loggeduserdata.userName" type="button" (click)="logoff()">LogOff</button>
        <button class="btn btn-primary" *ngIf="!loggeduserdata" type="button" (click)="loginpop()">Login</button>
        <button class="btn btn-primary"  *ngIf="!loggeduserdata" type="button" (click)="registerpop()">Register</button>
      </form>
    </div>
  </div>
</nav> 
<div class="col">
  <router-outlet></router-outlet>
</div>



<div id="id01" class="modal">
  
  <form class="modal-content animate" action="/action_page.php" method="post">
    <div class="imgcontainer">
      <span class="close" title="Close Modal" (click)="closeloginpop()">&times;</span>
      <img src="https://www.w3schools.com/howto/img_avatar2.png" alt="Avatar" class="avatar">
    </div>

    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="userName" [(ngModel)]="loginobj.userName"  required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password"  name="password" [(ngModel)]="loginobj.password" name="psw" required>
        
      <button type="submit" (click)="loginuser()">Login</button>
    </div>
  </form>
</div>


<div id="id02" class="modal">
  
  <form class="modal-content animate" action="/action_page.php" method="post">
    <div class="imgcontainer">
      <span class="close" title="Close Modal" (click)="closeregisterpop()">&times;</span>
      <img src="https://www.w3schools.com/howto/img_avatar2.png" alt="Avatar" class="avatar">
    </div>

    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" [(ngModel)]="registerobj.userName" name="userName" required>

      <label for="psw"><b>Email</b></label>
      <input type="text" placeholder="Enter Password" [(ngModel)]="registerobj.emailId"  name="emailId" required>
        

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" [(ngModel)]="registerobj.password"  name="password" required>
        

      <label for="psw"><b>MobileNO</b></label>
      <input type="password" placeholder="Enter Password" [(ngModel)]="registerobj.mobileNo"  name="mobileNo" required>
        
      <button type="submit" (click)="regitseruser()">Register</button>
    </div>
  </form>
</div>